llama-index
llama-index-readers-file
arxiv
langchain
langgraph
langsmith
openai
qdrant-client
pinecone-client
weaviate-client
ragas
deepeval
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
sentence-transformers
python-dotenv
httpx
rank-bm25